@model MVC_Bolsa.Models.Usuario

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Listagem</a>
</div>
